* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
  position: relative;
}

.img-div {
  margin-left: 170px;
}

.img-div img {
  width: 130px;
}

.headerButton {
  margin-right: 170px;
}

.headerButton button {
  width: 140px;
  height: 50px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
}

.link-div a {
  margin-right: 20px;
  font-size: 18px;
  color: black;
}

.headerButton button:hover {
  background: linear-gradient(rgb(84, 24, 84), rgb(137, 70, 137));
}

.id {
  height: 150px;
  width: 170px;
  position: absolute;
  right: 600px;
  top: 100px;
  border-radius: 10px;
  visibility: hidden;
  border: 2px solid rgb(6, 176, 243);
}

.link-div .dl:hover + .id {
  visibility: visible;
}

.fa-solid.fa-angle-down:hover {
  transform: rotate(180deg);
}

.fa-solid.fa-angle-down {
  transition: transform 0.4s ease-in-out;
}

.id ul {
  list-style-type: none;
  padding-left: 5px;
  padding-top: 5px;
  line-height: 40px;
  font-size: 18px;
}

.vidio-container {
  position: absolute;
  top: 0;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
}

.vidio-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 200px;

  background: linear-gradient(
    to top,
    white 0%,
    rgba(255, 255, 255, 0.8) 40%,
    transparent 100%
  );
}

.vidio {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info h1 {
  font-size: 60px;
  letter-spacing: 2px;
}

.info {
  margin-left: 170px;
  margin-top: 100px;
}

.buttondiv {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.buttondiv button {
  width: 230px;
  height: 60px;
  border-radius: 20px;
  font-size: 14px;
  background-color: rgb(26, 26, 57);
  color: white;
}

.fa-solid.fa-magnifying-glass {
  margin-right: 5px;
}

.info p {
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 10px;
  line-height: 30px;
  color: rgb(40, 40, 82);
}

.infocontainer {
  position: absolute;
  z-index: -5;
  margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.infocontainer h1 {
  font-size: 60px;
}

.infocontainer p {
  margin-top: 20px;
  line-height: 25px;
  font-size: 18px;
  letter-spacing: 2px;
  color: rgb(169, 165, 165);
}

span {
  margin-left: 30px;
}

.carts {
  position: absolute;
  z-index: -5;
  margin-top: 300px;
  display: flex;
  padding-left: 250px;
}

.cart {
  height: 70vh;
  width: 350px;
  margin-right: 30px;
  border-radius: 20px;
}

.cart video {
  object-fit: cover;
  width: 360px;
  height: 70vh;
  border-radius: 20px;
  position: relative;
  text-align: center;
}

.cart button {
  width: 200px;
  height: 50px;
  border-radius: 20px;
  background-color: rgb(40, 40, 82);
  border: none;
  color: white;
  font-size: 16px;
  margin-left: 18px;
  margin-top: 10px;
}

.moreinfo {
  position: absolute;
  left: 320px;
  bottom: 0px;
  z-index: +1;
}

.moreinfo2 {
  position: absolute;
  margin-left: 80px;
  bottom: 0;
  z-index: +1;
}

.moreinfo2 h1 {
  margin-left: 40px;
}

.moreinfo2 button {
  margin-left: 10px;
}

.moreinfo h1 {
  padding-right: 80px;
}

.cart::after {
  content: " ";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    to top,
    white 0%,
    #ffffffd8 40%,
    transparent 100%
  );
}

.moreinfo2 .h1 {
  margin-left: 5px;
}

.text {
  z-index: +5;
  margin-top: 950px;
  text-align: center;
}

.text h1 {
  font-size: 50px;
  margin-top: 500px;
}

.div {
  height: 200px;
  width: 400px;
  border-radius: 20px;
  border: 2px solid skyblue;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.outer {
  overflow: hidden;
  margin-top: 80px;
}

.inner {
  display: flex;
  gap: 20px;
  animation: box-animation 8s linear infinite;
}

@keyframes box-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translate(-13%);
  }
}

.divi {
  margin-left: 20px;
}

.divi p {
  padding-left: 10px;
}

.divi h2 {
  padding-left: 8px;
}

.ti {
  width: 60px;
}

.tp {
  margin-top: 10px;
}

.mi {
  width: 55px;
}

.ni {
  width: 55px;
}

.np {
  margin-top: 10px;
}

.mp {
  margin-top: 10px;
}
